  #carousel-section {
    width: 100%;
    position: absolute;
    bottom: 0;
  }
  #carousel-section::before {
    content: "";
    background-color: #414f6b;
    height: 185px;
    width: 100%;
    position: absolute;
    z-index: 0;
    opacity: 0.9;
  }

.carouselmain {
    background-color: aqua;
    padding-top: 20px;
}

.container{
    padding: 11px;
}
.owl-item {
    width: 234px;
}
.item{
    margin-right: 4px;
}
.owl-carousel .owl-item img {
    display: block;
    height: 129px;
}

.owl-theme .owl-dots .owl-dot span {
    width:7px;
    height: 7px;
    margin: 5px 4px;
    background: #D6D6D6;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
   background-color: #feffff;
}

.owl-theme .owl-dots .owl-dot span, .owl-theme .owl-dots .owl-dot:hover span {
    background-color: #aab2b2;
 }
*{
    margin: 0;
    padding: 0;
}
body{
    
    background-image: url("Images/history1.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-color: #464646;
}
.maincontainer{
    height: 60px;
    position: sticky;
    background-color: #feffff;
    width: 100%;
    z-index: 2;
}
.logo1{
    display: flex;
    justify-content: center;
    text-align: center;
}

.logo1 img{
    width: 43px;
    border: 1px solid #bcc3c6;
    border-radius: 50%;
    height: 43px;
    margin-right: 6px;
}
.headercontainer{
    padding: 6px 0px 5px 0px;
    display: flex;
    justify-content: space-around;
}
.header-col{
  width: 50%;
}
.navbar2{
    list-style: none;
    font-size: 21px;
    letter-spacing: 0px;
    line-height: 12px;
    text-transform: uppercase;
    color: #4d4d4d;
    font-family: 'Bebas Neue';
    margin-top: 8px;
}
.navbar3{
    list-style: none;
    font-size: 23px;
    letter-spacing: 0px;
    line-height: 12px;
    text-transform: uppercase;
    color: #4d4d4d;
    font-family: 'Bebas Neue';
    margin-top: 8px;
}
.row1 ul{
    display: flex;
    padding: 12px;
    justify-content: center;
}
.row1 ul li{
    list-style: none;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: 900;
    font-style: italic;
    font-family: "Lato";
}
.row1 ul li a{
    color: #414f6b;
    margin-right: 43px;
    text-decoration: underline;
}


/* Content section */
.description{
    margin-top: 2.2%;
}
.innerbox{
    display: flex;
    margin-left: 19%;
}
.point{
    line-height: 1.1;
    width: 109px;
}

.point span{
    opacity: 0.502;
    font-size: 111px;
    color: #414f6b;
    font-weight: 700;
    font-family: "Oswald";
}
.heading{
    margin-top: 52px;
    font-size: 32px;
    color: #414f6b;
    font-weight: 700;
    font-family: "Oswald";
    margin-right: 29px;
}
.historycontent{
    margin-left: 23%;
    margin-right: 21%;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    font-weight: 300;
    font-family: "Lato";
}
/* Media queries */
@media (min-width: 1200px){
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 948px;
}
}

@media (min-width: 768px){
.container, .container-md, .container-sm {
    max-width: 942px;
}
}

@media (max-width:580px){
    .item{
        width: 98%;
        margin-right: 9px
    }
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 95%;
    }
}

@media only screen and (max-width:600px){
    .headercontainer{
      display: block;
    }
    .header-col{
      width: 100%;
      display: flex;
      justify-content: center;
    }
    .row1{
      width: 100%;
    }
    .row1 ul{
      display: block;
      padding: 0px;
    }
    .row1 ul li{
      display: flex;
      justify-content: center;
      text-align: center;
      background-color: #414f6b;
      border: 2px solid #999595;
    }
    .row1 ul li a{
      margin-right: 0px;
      color: #feffff;
    }
  }
@media (max-width:540px){
    .description{
        margin-top: 12.2%;
    }
}

@media (max-width: 401px){
    .item{
        width: 100%;
    }
}